<h5>Ingrese el Usuario</h5>
<table class="table">
  <tr>
    <td>Nombre:</td>
    <td>
      <input type="text" [(ngModel)]="usuario.nombres" />
    </td>
  </tr>
  <tr>
    <td>Apellidos:</td>
    <td>
      <input type="text" [(ngModel)]="usuario.apellidos" />
    </td>
  </tr>
  <tr>
    <td>DNI:</td>
    <td>
      <input type="number" [(ngModel)]="usuario.dni" />
    </td>
  </tr>
</table>
<button class="btn btn-primary" (click)="anadirUsuario()">
    Añadir Usuario
</button>

<ul>
    <li *ngFor = "let usuario of arrayUsuarios" (click)="seleccionarUsuario(usuario)">
        {{usuario.nombres}}
    </li>
</ul>

<app-detalles [usuario]="usuarioSeleccionado"></app-detalles>