<div class="modal fade" id="modalEditar" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form class="mt-4 animated fadeIn " #formulario="ngForm">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="">Id de Factura:</label>
                                    <input type="text" required class="form-control"
                                            [(ngModel)]="objFactura.id" name="id"
                                            disabled>
                                </div>
                                <div class="col-md-6">
                                    <label for="">Nro de Factura:</label>
                                    <input type="text" required class="form-control" [(ngModel)]="objFactura.fact_nro"
                                        name="fact_nro" placeholder="Ejm: F001-00456">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="">Razón Social:</label>
                                    <input type="text" class="form-control" required [(ngModel)]="objFactura.fact_rz"
                                        name="fact_rz" placeholder="Ejm: Binario Consultores S.R.L.">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="">Fecha de Facturación</label>
                                    <input type="date" class="form-control" required [(ngModel)]="objFactura.fact_fech"
                                        name="fact_fech">
                                </div>
                                <div class="col-md-6">
                                    <label for="">Ruc:</label>
                                    <input type="text" maxlength="11" minlength="11" class="form-control" required
                                        [(ngModel)]="objFactura.fact_ruc" name="fact_ruc"
                                        placeholder="Ejm: 20038573192">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-block btn-lg btn-dark" [disabled]="!formulario.valid"
                                (click)="guardarCambios()">
                                <i class="fas fa-save"></i>
                                Guardar Cambios
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<main class="container mt-5">
    <button class="btn btn-danger" *ngIf="facturasSeleccionadas.length > 0" (click)=eliminarFacturas()>Eliminar Facturas</button>
    <div>
        <div class="alert alert-success text-center" role="alert" *ngIf="!facturas">
            <h4 class="alert-heading">Cargando..</h4>
            <p>
                <i class="fa fa-refresh fa-3x fa-spin" aria-hidden="true"></i>
            </p>
        </div>
        <div *ngIf="facturas" class="animated slideInLeft">
            <table class="table">
                <thead>
                    <tr>
                        <th>Sel.</th>
                        <th>Id</th>
                        <th>Razón Social</th>
                        <th>Numero de Factura</th>
                        <th>Ruc</th>
                        <th>Fecha de Compra</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let f of facturas">
                        <td><input type="checkbox" class="form-control" (change) = "seleccionarFactura($event, f)"></td>
                        <td>{{f.id}}</td>
                        <td>{{f.fact_rz}}</td>
                        <td>{{f.fact_nro}}</td>
                        <td>{{f.fact_ruc}}</td>
                        <td>{{f.fact_fech}}</td>
                        <td style="display: flex;">
                            <button class="btn btn-danger" (click)="eliminarFactura(f.id)">
                                <i class="fas fa-trash"></i>
                            </button>

                            <button class="btn btn-secondary ml-2" (click)="abrirModalEditar(f.id)">
                                <i class="fas fa-pencil-alt"></i>
                            </button>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <button class="btn btn-dark btnCrear animated bounce infinite slow" (click)="crearFactura()">
        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
    </button>

</main>




