<main class="container mt-5">

    <div>
        <div class="alert alert-success text-center" role="alert" *ngIf="!facturas">
            <h4 class="alert-heading">Cargando..</h4>
            <p>
                <i class="fa fa-refresh fa-3x fa-spin" aria-hidden="true"></i>
            </p>
        </div>
        <div *ngIf="facturas" class="animated slideInLeft">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Razón Social</th>
                        <th>Numero de Factura</th>
                        <th>Ruc</th>
                        <th>Fecha de Compra</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let f of facturas">
                        <td>{{f.id}}</td>
                        <td>{{f.fact_rz}}</td>
                        <td>{{f.fact_nro}}</td>
                        <td>{{f.fact_ruc}}</td>
                        <td>{{f.fact_fech}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <button class="btn btn-dark btnCrear animated bounce infinite slow"
        (click)="crearFactura()">
        <i class="fa fa-plus fa-2x" 
        aria-hidden="true"></i>
    </button>

</main>