<main>
    <h1>Directiva <code>[ngStyle]</code></h1>
    <hr>
    <p>
        La directiva <code>ngStyle</code> sirve para colocar estilos
        en linea a las etiquetas HTML.
    </p>
    <hr>
    <h3>Ejemplo usando el atributo <code>style</code></h3>
    <p style="color: #333399">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, cupiditate. Quod ad, ex accusantium
        consequatur impedit voluptatem. Similique provident quaerat sit alias, corporis eos rem sequi, eius, et odio
        possimus?
    </p>
    <hr>
    <h3>Ejemplo usando la directiva <code>[ngStyle]</code></h3>
    <p [ngStyle]="{'background-color':'white', 'column-count':2}">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda vitae nemo temporibus animi earum
        accusantium ratione vel quas nobis a sed tenetur atque, iusto iure consequuntur aspernatur architecto, labore
        possimus.
    </p>
</main>