* {
    margin: 0px;
    padding: 0px;
}

#cabeceralogo {
    width: 96%;
    height: 150px;
    padding: 0% 2%;
    background-color: #0F76A0;
}

#cabeceralogo>div {
    max-width: 960px;
    margin: 0px auto;
    padding-top: 45px;
}

#cabeceralogo h1 {
    font: bold 54px Arial, sans-serif;
    color: #FFFFFF;
}

#menuprincipal {
    width: 96%;
    height: 50px;
    padding: 0% 2%;
    background-color: #9FC8D9;
    border-top: 1px solid #094660;
    border-bottom: 1px solid #094660;
}

#menuprincipal>div {
    max-width: 960px;
    margin: 0px auto;
}

#menuprincipal li {
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}

#menuprincipal li:hover {
    background-color: #6FACC6;
}

#menuprincipal a {
    font: bold 18px Arial, sans-serif;
    color: #333333;
    text-decoration: none;
}

main {
    width: 96%;
    padding: 2%;
    background-image: url("http://placehold.it/500x500/");
}

main>div {
    max-width: 960px;
    margin: 0px auto;
}

#articulosprincipales {
    float: left;
    width: 65%;
    padding-top: 30px;
    background-color: #FFFFFF;
    border-radius: 10px;
}

#infoadicional {
    float: right;
    width: 29%;
    padding: 20px;
    background-color: #E7F1F5;
    border-radius: 10px;
}

#infoadicional h1 {
    font: bold 18px Arial, sans-serif;
    color: #333333;
    margin-bottom: 15px;
}

.recuperar {
    clear: both;
}

article {
    position: relative;
    padding: 0px 40px 20px 40px;
}

article time {
    display: block;
    position: absolute;
    top: -5px;
    left: -70px;
    width: 80px;
    padding: 15px 5px;
    background-color: #094660;
    box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
    border-radius: 5px;
}

.numerodia {
    font: bold 36px Verdana, sans-serif;
    color: #FFFFFF;
    text-align: center;
}

.nombredia {
    font: 12px Verdana, sans-serif;
    color: #FFFFFF;
    text-align: center;
}

article h1 {
    margin-bottom: 5px;
    font: bold 30px Georgia, sans-serif;
}

article p {
    font: 18px Georgia, sans-serif;
}

figure {
    margin: 10px 0px;
}

figure img {
    max-width: 98%;
    padding: 5px;
    border: 1px solid;
}

#pielogo {
    width: 96%;
    padding: 2%;
    background-color: #0F76A0;
}

#pielogo>div {
    max-width: 960px;
    margin: 0px auto;
    background-color: #9FC8D9;
    border-radius: 10px;
}

.seccionpie {
    float: left;
    width: 27.33%;
    padding: 3%;
}

.seccionpie h1 {
    font: bold 20px Arial, sans-serif;
}

.seccionpie p {
    margin-top: 5px;
}

.seccionpie a {
    font: bold 16px Arial, sans-serif;
    color: #666666;
    text-decoration: none;
}

#listamenu>li {
    position: relative;
    display: inline-block;
    height: 35px;
    padding: 15px 10px 0px 10px;
    margin-right: 5px;
}

#listamenu li>ul {
    display: none;
    position: absolute;
    top: 50px;
    left: 0px;
    background-color: #9FC8D9;
    box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
    border-radius: 0px 0px 5px 5px;
    list-style: none;
    z-index: 1000;
}

#listamenu li>ul>li {
    width: 120px;
    height: 35px;
    padding-top: 15px;
    padding-left: 10px;
}

#listamenu li:hover ul {
    display: block;
}

#listamenu a {
    font: bold 18px Arial, sans-serif;
    color: #333333;
    text-decoration: none;
}

#menuprincipal li:hover {
    background-color: #6FACC6;
}

#menuicono{
    display: none;
    width: 95%;
    height: 38px;
    padding: 12px 2% 0px 3%;
    text-align: center;
    background-color:#9FC8D9;
    border-top: 1px solid #094660;
    border-bottom: 1px solid #094660;
}
@media(max-width:1120px){

    header h1{
        text-align:center;
    }

    article time{
        position: static;
        width: 100%;
        padding: 0px;
        margin-bottom: 10px;
        background-color:white;
        box-shadow: 0px 0px 0px;
        border-radius: 0px;
        align-self:center;
        text-align: center;
    }
    .numerodia{
        display: inline-block;
        font: bold 14px Verdana, sans-serif;
        color: #999999;
        margin-right: 5px;
    }
    .nombredia{
        display: inline-block;
        font: bold 14px Verdana, sans-serif;
        color: #999999;
    }
    #articulosprincipales{
        display:block;
        width:100%;
    }
    article{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #infoadicional{
        width:100%;
        display:block;
        margin-top:10px;
        box-sizing: border-box;
        text-align:center;
    }
    #infoadicional h1{
        font-size:28px;
    }
    #infoadicional p{
        font-size:22px;
    }
}
@media (max-width:576px){

    #menuprincipal{
        display:none;
    }
    #menuprincipal{
        height:100%;
        text-align:center;
    }
    #menuicono{
        display:block;
    }
}
