*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height: 100%
}
html{
    background-color:black;
}
.title{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:40px;
}
#img{
    border:5px solid blue;
    border-radius:50%;
}
.parrafo{
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
#title{
    color:white;
    font-size:40px;
    font-family:Arial, Helvetica, sans-serif;
}
