body{
    background-color: #222222;
}
ul{
    list-style: none;
    background-color: #444444;
    color: #cccccc;
}
li{
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
}
li:hover{
    background-color: #cccccc;
    color: #444444;
}