<div class="row">
  <div *ngFor = "let producto of productos" class="col-3">
    <div class="card" style="width: 18rem;">
      <img src={{producto.prod_img}} class="card-img-top " alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{producto.prod_nom | uppercase}}</h5>
        <p class="card-text">
          {{producto.prod_desc | slice:0:20  }}
          <br>
          <strong>{{producto.prod_price | number: '1.1-2' | currency:'EUR'}}</strong>
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

