*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    height:100%;
}
header{
    height:60px;
    background-color:#4285f4;
    color:white;
    font-family: 'Roboto', sans-serif;
    display:flex;
}
.contenedor{
    display:flex;
    flex-direction:column;

}
.menu{
    display:flex;
    align-items:center;
    flex-grow:8;
}
.busqueda{
    display:flex;
    align-items:center;
    flex-grow:1;
}
.menu h1{
    margin:0 20px;
}
.menu label{
    margin:0 10px;
}
.busqueda input{
    border:0;
    background:transparent;
    border-bottom:white 1px solid;
    height:30px;
    color:white;
}

main{
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content:space-between;

}

.primicia{
    /* flex-grow  flex-shrink flex-basis */
    flex:2 0 63%;
    height:400px;
    background-image:url('./img/primicia.jpg');
    background-position: center;
    display:flex;
}
.titular{
    height:32%;
    width:100%;
    /* align-self alineara el elemento a comparación de
    sus hermanitos */
    align-self:flex-end;
    background-color:rgba(60,60,60,0.8);
    color:white;
    font-family:'Roboto', sans-serif;
    padding:10px;
    
}
.publicidad{
    flex:0 0 32%;
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:darkblue;
    color:white;
    font-family:'Roboto',sans-serif;
}
.divisor{
    font-family: 'Roboto',sans-serif;
    font-size:36px;
    display: block;
    padding:20px 10px 10px 10px;
}
.articulos{
    display:flex;
    flex-direction:row;
    align-self:center;
    
}

.articulo{
    background-image:url('https://picsum.photos/500/400');
    background-position: center;
    height:300px;
    display:flex;
}
.texto{
    height:25%;
    align-self:flex-end;
    background-color:rgba(90,90,255,0.6);
    color:white;
    font-family:'Roboto',Arial,sans-serif;
}
/* breakpoint */
@media screen and (max-width:600px){
    header{
        flex-direction: column;
        height:auto;
    }
    .menu{
        flex-direction: column;
        justify-content:center;
    }
    .busqueda{
        justify-content: center;
    }
    main{
        display:block;
    }
    .primicia{
        height:300px;
    }
    .titular{
        height:25%;
    }
    .publicidad{
        height:150px;
    }
    .publicidad p{
        margin:auto;
    }

}
